name: Run HYS Script

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */3 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    
    # --- این بخش اضافه شده است ---
    permissions:
      contents: write # به اکشن اجازه می‌دهد محتوای ریپازیتوری را تغییر دهد (push کند)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: python hys.py

      - name: Commit and push if changed
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add stream_data.txt
          git diff --staged --quiet || git commit -m "Update hysteria2 configs"
          git push
